
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: linear-gradient(#e66465, #9198e5);
}
.main {
	max-width: 1000px;
	width: 100%;
	background-color: #fff;
	padding: 35px 40px;
	border-radius: 15px;
	.title {
		font-size: 30px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 30px;
			border-radius: 5px;
		}
	}
    .menu3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
      }
	form {
		.details {
			margin: 30px 0 15px 0;
			justify-content: space-between;
		}
	}
}
form {
	.details {
		.input-box {
			margin-bottom: 20px;
		}
	}
	.button {
		height: 45px;
		margin: 35px 0;
		input {
			height: 100%;
			width: 100%;
			border-radius: 5px;
			border: none;
			color: #fff;
			font-size: 18px;
			font-weight: 500;
			letter-spacing: 1px;
			cursor: pointer;
			transition: all 0.3s ease;
			background: linear-gradient(135deg, #e66465, #9198e5);
			&:hover {
				background: linear-gradient(-135deg,#e66465, #9198e5);
			}
		}
	}
}
.details {
	.input-box {
		input {
			height: 45px;
			border-radius: 10px;
			width: 100%;
			font-size: 16px;
			padding-left: 15px;
			border: 1px solid #ccc;
			border-bottom-width: 2px;
			transition: all 0.3s ease;
		}
	}
}
details {
	.input-box {
		input {
			&:focus {
				border-color: #9b59b6;
			}
			&:valid {
				border-color: #9b59b6;
			}
		}
	}
}
@media (max-width: 584px) {
	.container {
		max-width: 100%;
		form {
			.details {
				max-height: 300px;
				overflow-y: scroll;
			}
		}
	}
	form {
		.details {
			.input-box {
				margin-bottom: 20px;
				width: 100%;
			}
		}
	}
	.details {
		&::-webkit-scrollbar {
			width: 5px;
		}
	}
}