* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
  background: linear-gradient(#e66465, #9198e5);
}

.main {
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  padding: 35px 40px;
  border-radius: 15px;
}

.main .title {
  font-size: 30px;
  position: relative;
}

.main .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
}

.main form .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 15px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

form .details .input-box {
  width: calc(100% / 3 - 25px);
  margin-bottom: 20px;
}

form .button {
  height: 45px;
  margin: 35px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #e66465, #9198e5);
}

form .button input:hover {
  background: linear-gradient(-135deg, #e66465, #9198e5);
}

.details .input-box input {
  height: 45px;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

details .input-box input:focus {
  border-color: #9b59b6;
}

details .input-box input:valid {
  border-color: #9b59b6;
}

.form-control {
  height: 45px;
  border-radius: 10px;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  .container form .details {
    max-height: 300px;
    overflow-y: scroll;
  }
  form .details .input-box {
    margin-bottom: 20px;
    width: 100%;
  }
  .details::-webkit-scrollbar {
    width: 5px;
  }
}
/*# sourceMappingURL=style3.css.map */